<html>
  <head>
  <title>Фотография {{photo}}</title>
  <link rel="stylesheet" type="text/css" href="templates/css/style.css">
  </head>
  <body>
    <h2>Фотография {{photo}}</h2>
    <div><A Href="./">Назад в альбом</A></div>
    <div class="full_photo"><img src="{{path_to_photo}}/{{photo}}"></div>
    <div><A Href="./">Назад в альбом</A></div>
  </body>
</html>